  	<div class="navbar navbar-fixed-top">  
		<div class="navbar-inner"> 
			<div class="container">  
    			<ul class="nav">  
    				<li><a href="http://jevonyeoh.herokuapp.com">Home</a></li>  
  					<li><a href="http://jevonyeoh.herokuapp.com/facebook.html">Facebook</a></li>  
					<li><a href="">New User</a></li>
				</ul>   
    		</div>  
  		</div>  
	</div>
	<br><br><br>

<h1>Create New User</h1>

	<div class="row">
		<div class="span10">
			<br>Instructions:<br>
			1. Mandatory fields: Name, Username, Password, Email <br>
			2. Username must be at least 4 characters long. <br>
			3. Password must be between 6-15 alphanumeric characters long and contain at least 1 number. <br><br>
		</div>
	</div>
<%= render 'form' %>

<%= link_to 'Back', "http://jevonyeoh.herokuapp.com" %>
